@import '../../style-guide';

.HeaderBalance {
  margin-left: 25px;
  height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title-container{

  }

  &__title {
    font-size: 12px;
    color: $primary-variant-color;
  }

  &__balance {
    color: $positive-color;
    font-weight: 600;
    margin-top: 2px;
  }
}