@import '../../style-guide';

.SubHeader {
  display: flex;
  align-items: center;
  padding: 10px 1em;
  background-color: $gray-5;
}

.RentBackground {
  background: linear-gradient(135deg, #778899 0%, #172765 100%) !important;
}

.FoodBackground {
  background: linear-gradient(135deg, #FF354E 0%, #172765 100%) !important;
}